.navbar-title{
    font-family:cursive;
    color: Black
}

.navbar-nav{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.navbar-brand{
    margin-left: 10px;
}

.background{
    background-color: lightskyblue;
    opacity: 20%;
}

.button{
    margin:0;
    position:absolute;
    top: 50%;
    left:50%;
    background-color: linen;
}

.img-thumbnail1{
    display: inline-block;
    width: 50%;
    height: auto;
    margin:0;
}
